<h1><i> Home Page</i></h1>
<%= button_to "Create Users", new_user_path, :method => :get%>
<br>
<%= button_to "Create Books", new_book_path, :method => :get%>
<br>
<%= button_to "Create Likes", new_like_path, :method => :get%>